<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css"/>
    <title>Document</title>
  </head>
  <body>
    <p class="title"><%=list%></p>
    <div class="main">
    <ul class="list">
      <form action="/del" method="post" >
      <%for(let i=0;i<newtask.length;i++){%>
      <li><div class="item"><input class="input" type="checkbox" onchange="this.form.submit()" value="<%=newtask[i]%>" name="taskname"><p class="name" name="newtask"><%=newtask[i]%></p></div></li>
     <% }%>
    </form>
    </ul>
    <div class="end">
    <form action="/" method="post">
      <input type="text" placeholder="Enter Here" id="add" name="add" autocomplete="off" />
      <button type="submit"><%=button%></button>
    </form>
    </div>
    </div>
  </body>
</html>
